<div id="nav">
  <mat-toolbar color="primary">
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-flat-button disableRipple="true" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a mat-flat-button disableRipple="true" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a mat-flat-button disableRipple="true" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li>
        <a mat-flat-button href="./assets/resume.pdf" target="_blank">Résumé</a>
      </li>
    </ul>
  </mat-toolbar>
</div>
