<div id="nav">
  <mat-toolbar color="primary" id="mat-toolbar-header-color">
    <span class="spacer"></span>
    <ul>
      <li>
        <a id="flat-button-color-one" mat-flat-button disableRipple="true" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a id="flat-button-color-three" mat-flat-button disableRipple="true" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li>
        <a id="flat-button-color-two" mat-flat-button disableRipple="true" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a id="flat-button-color-four" mat-flat-button href="./assets/resume.pdf" target="_blank">Résumé</a>
      </li>
    </ul>
  </mat-toolbar>
</div>
