<div id="contact">
  <mat-toolbar color="primary">
    <span class="spacer"></span>
    <ul>
      <li>
        <a href="mailto:snailing1998@gmail.com" target="_blank"><img alt="Email" src="./assets/logos/email-icon.png"></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/js-teoh/" target="_blank"><img alt="Linkedin" src="./assets/logos/linkedin-icon.png"></a>
      </li>
      <li>
        <a href="https://www.facebook.com/Jian.Sheng.Teoh/" target="_blank"><img alt="Facebook" src="./assets/logos/facebook-icon.png"></a>
      </li>
      <li>
        <a href="https://github.com/jiansheng010" target="_blank"><img alt="Github" src="./assets/logos/github-icon.png"></a>
      </li>
    </ul>
  </mat-toolbar>
</div>
