<div id="intro">
  It all began in a little tropical country called <span style=color:#6D64A4;>Malaysia</span>. Since I was little,
  I have always loved poking around in computers and learning about them. Overtime, my interest in them grew stronger
  and decided to pursue Computer Science as my field of interest.
  <br><br>
  With that, I graduated with an Associates Degree in Computer Science in a university in Malaysia 2 years after
  finishing high school. My passion for computers kept growing, so I decided to continue my studies at
  <span style=color:#6D64A4;>The Ohio State University</span> in the United States.
  <br><br>
  It took a while, but I finally graduated with a bachelor’s degree in <span style=color:#6D64A4;>Computer Science and
  Engineering</span> in 2019. I spend most of my time learning new languages and trying out new things
  but at night you will usually catch me playing my favorite video game with some friends.
  I love <span style=color:#6D64A4;>squishing bugs</span> in programs and solving problems with
  code.
</div>
