.intro {
  font-size: 18px;
  font-family: Inter, sans-serif;
  line-height: 1.6;
  padding: 0 80px;
}

.line {
  margin-bottom: 100px !important;
}

.bottom-line {
  margin-top: 99px;
  border: 1px none rgba(0, 0, 0, 0.38);
  border-top-style: solid;
  padding: 10px;
}
