<div class="projects">
  <title>{{setTitle("Projects - JS Teoh")}}</title>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Portfolio Website. (WIP)</mat-card-title>
      <mat-card-subtitle>Website</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/website.JPG" alt="Screenshot of program">
    <mat-card-content>
      <p>
        A website to introduce myself and display my portfolio.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: MongoDB, Express, AngularJS, Node.js, AngularMaterial, HTML, TypeScript, JavaScript, CSS, Git, Figma
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Needed to improve the layout and design of my existing website.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Using the MEAN stack and Figma to redesign my website.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://github.com/jiansheng010/MyWebsite" target="_blank">Github</a>
    </mat-card-actions>
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Cosmo Solutions Technology, Inc. (WIP)</mat-card-title>
      <mat-card-subtitle>Website</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/cosmo.JPG" alt="Screenshot of program">
    <mat-card-content>
      <p>
        Designing and recreating Cosmo's website and adding new features.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: Wordpress, Elementor, Figma, HTML, CSS, JavaScript
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Existing website looks outdated and does not have modern features.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Redesigning the main website from the ground up and adding new features to modernize the look and
        feel of the website.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="http://97.70.166.128/wp/" target="_blank">Website</a>
    </mat-card-actions>
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Scarpetta Pricing Tool</mat-card-title>
      <mat-card-subtitle>Pricing Tool</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/print-serial.jpg" alt="Screenshot of program">
    <mat-card-content>
      <p>
        Developed a core price tag printing tool with extra functionality.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: Python, PyQt5, MySQL
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Unbalanced teams during customs match.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Taking into account the players Matchmaking Rank and Kill-Death Ratio to form and balance the teams.
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>-->
    <!--    <a mat-button href="about:blank" target="_blank">Github</a>-->
    <!--  </mat-card-actions>-->
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Subscription Pop-up</mat-card-title>
      <mat-card-subtitle>Pop-up Tool</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/subscribe.JPG" alt="Screenshot of program">
    <mat-card-content>
      <p>
        A tool that prompts users if they would like to subscribe to the mailing and phone list for more information.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: HTML, JavaScript, CSS
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: The design of the third-party service is not optimal.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Creating our own pop-up with the same backend services to send user email/phone to mailing/phone
        service.
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>-->
    <!--    <a mat-button href="about:blank" target="_blank">Github</a>-->
    <!--  </mat-card-actions>-->
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Assistant Relay</mat-card-title>
      <mat-card-subtitle>Smart Switch</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/assistant.JPG" alt="Screenshot of program">
    <mat-card-content>
      <p>
        A program that turns my light on or off with a hotkey using the Google Assistant API.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: Python, PyQt5, Node.JS
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Was lazy to say "Hey Google" everytime I wanted to turn off my lights at my desktop.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Wrote a program that uses the Google Assistant API and hotkeys on my keyboard to switch them on or off.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://github.com/jiansheng010/AssistantRelay" target="_blank">Github</a>
    </mat-card-actions>
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Siege-In-One</mat-card-title>
      <mat-card-subtitle>Matchmaking Program</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/team-randomizer.jpg" alt="Screenshot of program">
    <mat-card-content>
      <p>
        A multipurpose program to accompany custom matches in the video game Tom Clancy's Rainbow Six: Siege.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: Python, PyQt5, MSSQL
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Unbalanced teams during customs match.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Taking into account the players Matchmaking Rank and Kill-Death Ratio to form and balance the teams.
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>-->
    <!--    <a mat-button href="about:blank" target="_blank">Github</a>-->
    <!--  </mat-card-actions>-->
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>DE 4.0</mat-card-title>
      <mat-card-subtitle>Data Entry Program</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/logs.jpg" alt="Screenshot of program">
    <mat-card-content>
      <p>
        Developed a all-round program to handle day-to-day functions for my internship company.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: VB.NET, MSSQL
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Existing program was too buggy and had limited features.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Redesigned and redeveloped the program to improve existing and add new features.
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>-->
    <!--    <a mat-button href="about:blank" target="_blank">Github</a>-->
    <!--  </mat-card-actions>-->
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Toboggan</mat-card-title>
      <mat-card-subtitle>Machine Learning Minigame</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/item-description.png" alt="Screenshot of program">
    <mat-card-content>
      <p>
        A text-based game generator that builds a network of visitable rooms filled with items and enemies using GPT-2.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: Python, JavaScript, CSS, HTML
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Unbalanced teams during customs match.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Taking into account the players Matchmaking Rank and Kill-Death Ratio to form and balance the teams.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://github.com/Ive-Been-Misled/Toboggan" target="_blank">Github</a>
    </mat-card-actions>
  </mat-card>

  <!--Card-->
  <mat-card class="project-card">
    <mat-card-header>
      <!--          <div mat-card-avatar class="header-image"></div>-->
      <mat-card-title>Who Are You</mat-card-title>
      <mat-card-subtitle>Android App</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/main-screen.png" alt="Screenshot of program">
    <mat-card-content>
      <p>
        Developed an Android app linking Java programming and classical mythology.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Languages: Android Studio, Java
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Problem: Is it possible to code a project that involves classical mythoglogy?
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Solution: Yes. It is possible.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://play.google.com/store/apps/details?id=com.ninjatech.whoareyou" target="_blank">Google Play</a>
    </mat-card-actions>
  </mat-card>

</div>
