<title>{{setTitle("Home - JS Teoh")}}</title>
<div id="intro">
  <h1 class="intro-top">Hi, it's me,</h1>
  <h1 class="intro-top"><span style="color: #6D64A4; position: relative; top: 5px">Jian Sheng Teoh.</span></h1>
  <!--  <script>-->
  <!--    let whatAmI = ['software engineer', 'food lover', 'problem solver', 'music enthusiast', 'Malaysian'];-->
  <!--  </script>-->
  <h3 class="intro-bottom" style="position: relative; top: 20px">A <span style="color: #6D64A4;">software engineer</span> from Malaysia.</h3>
</div>
