<title>{{setTitle()}}</title>
<div class="window">
  <div class="line">
    <div class="circle circle-one">

    </div>
    <div class="circle circle-two">

    </div>
    <div class="circle circle-three">

    </div>
  </div>
  <ng-container>
    <div class="intro-top">
      <p class="intro-top-first">
        Hi, it's me,
      </p>
      <p class="my-name"></p>
    </div>
    <p class="intro-bottom">
      A <span class="something-i-am"></span>from Malaysia.
    </p>
  </ng-container>
</div>


