<title>{{setTitle()}}</title>
<div class="window">
  <div class="line">
    <div class="circle circle-one">

    </div>
    <div class="circle circle-two">

    </div>
    <div class="circle circle-three">

    </div>
  </div>
  <div class="columns">
    <div class="left-column">
      <div class="intro-top">
        <p class="intro-top-first"></p>
        <p class="my-name"></p>
      </div>
      <p class="intro-bottom">
        A Malaysian <span class="something-i-am"></span>.
      </p>
    </div>
    <div class="right-column">
      <div class="inner-column">
        <div class="programming-logo-div">
          <img class="programming-logo" src="../../assets/logos/javascript-icon.png" alt="">
        </div>
        <div class="programming-logo-div">
          <img class="programming-logo" src="../../assets/logos/python-icon.png" alt="">
        </div>
        <div class="programming-logo-div">
          <img class="programming-logo" src="../../assets/logos/csharp-icon.png" alt="">
        </div>
        <div class="programming-logo-div">
          <img class="programming-logo-angular" src="../../assets/logos/angular-icon.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line">

  </div>
</div>


